body{
    margin: 0; 
    padding: 0;
   list-style: none;
    color : #020E35;

}

    a {
        text-decoration: none;
        color : #020E35;
        list-style: none;
        font-family: "Merriweather";
}
    h1 {
        font-size: 18px;
        color : #020E35;
        list-style: none;

}
    .logozzeb {
        color: #ff5878;
        font-size: 28px;
}
    .navbar {
        height: 84px;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow:  0 6px 10px #00000014;
        padding: 8px 150px 8px 150px;
        display: flex;
}
    .Logo {
        display: flex;
        gap: 4px;
}
    .nav-links {
        gap : 60px;
        display: flex;
        justify-content: right;
        font-size: 14px;
        align-items: center;

}

    .padding {
        padding: 100px 150px 100px 150px;
}
    .buttons {
}