body {
    margin: 0px;
    overflow-x: hidden;
}

h1 {
    font-size: 76px;
    line-height: 110px;
}

a,
h1,
h2,
h3,
p {
    text-decoration: none;
    color: #020E35;
    list-style: none;
    margin: 0px;
    font-family: Merriweather;
}

p {
    font-size: 18px;
}

h2 {
    font-size: 28px;
}

.logozzeb {
    color: #ff5878;
    font-size: 28px;
    margin: 16.5px 0px 0px 0px;
}

.Logo {
    display: flex;
    gap: 10px;
}

.navbar {
    height: 68px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 10px #00000014;
    padding: 8px 150px;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    gap: 60px;
    display: flex;
    font-size: 16px;
}

.menu-elements {
    display: flex;
    align-items: center;
    gap: 60px;
}

.menu-elements a:hover {

    text-decoration: underline;
    text-decoration-color: #ff5878;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

.padding {
    padding: 100px 150px 100px 150px;
}

.buttons {
    background-color: #020E35;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 24px 40px;
    font-family: Merriweather, serif;
    font-size: 16px;
}

.home-texts {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 548px;
    font-family: Merriweather;
}

.home-content {
    padding: 300px 150px 200px 150px;
    display: flex;
    justify-content: space-between;
}

.buttonsclass {
    background-color: #020E35;
    color: white;
    border: none;
    cursor: pointer;
    padding: 24px 40px;
    font-family: Merriweather, serif;
    font-size: 18px;
    box-shadow: 0 40px 40px #00000034;
    width: 197px;
}

.fond-rose {
    display: inline-block;
    background-color: #FF5678;
    color: white;
    line-height: 1;
}

.photocafe {
    border-radius: 200px;
}

.texthome {
    display: flex;
}

.titres {
    font-size: 54px;
}

.titlegaptalent {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.soulignementrose {
    background-image: linear-gradient(#FF5678, #FF5678);
    background-repeat: no-repeat;
    background-size: 100% 0.9em;
    background-position: 0em 0.7em;
    padding-right: 10px;
    display: inline-block;
}

.margesoulignement {
    background-position: 0.1em 0.7em;
}

.home-page {
    display: flex;
    justify-content: space-between;
}

.homepage2 {
    display: flex;
    flex-direction: column;
    gap: 60pX;
    width: 517px;
}

.learn {
    display: flex;
    gap: 63px;
}

.videos {
    display: flex;
    width: 212px;
    height: 68px;
    flex-direction: row;
    gap: 24px;
}


.videos h3 {
    align-self: center;
    font-size: 18px;
}

.triangle-blanc {
    width: 48px;
    height: 42px;
    position: absolute;
    top: 13px;
    left: 14px;
}

.videos-2 {
    position: relative;
    display: flex;
}

.rond-rose {
    display: block;
}

.Thingsweenjoy {
    display: flex;
    justify-content: space-between;
}

.intengible {
    position: absolute;
    top: 0px;
    left: -110px;
    z-index: -1;
    padding: 1987px 0px 0px 0px;
    margin: 0px;
}

.colone1 {
    color: transparent;
    -webkit-text-stroke: 1px #626980;
    font-size: 64px;
}

.colone {
    padding: 120px 0px 0px 0;
    display: flex;
    justify-content: space-between;
}

.premmierecolonetexte {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ligne4 {
    display: flex;

    gap: 40px;
}

.textes1colone {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.textes {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 83px 0px 0px 0px;
}

.explanationcustomers {
    display: flex;
    justify-content: space-between;
}

.deuxiemecolone {
    display: flex;
}

.team-titre {
    justify-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 519px);
    grid-template-rows: repeat(2, 519px);
    gap: 61px 32px;
    padding: 114px 0 0 0;
}

.teamsection {
    text-align: center;
}

.item {
    height: 519px;
    width: 519px;
    border-radius: 50px;
    border: 1px solid #BBBBBB;
    transition: transform 0.5s ease;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.texteenjoy {
    gap: 40px;
}

.itemgrid {
    gap: 40px;
    text-align: center;
    margin-top: 88px;
}

.soulignementrose2 {
    padding-right: 4px;
    padding-left: 4px;
}

.previous-work {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
}

.petitmenu {
    justify-content: center;
    display: flex;
    gap: 60px;
}

.rosea {
    background-image: linear-gradient(#FF5678, #FF5678);
    padding: 4px;
    color: white;
}

.grid22 {
    display: grid;
    height: 1376px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 2fr 1fr 4fr;
    gap: 32px;
}

.grid22 div {
    background-color: #FFEEF6;
}

#carrerose1 {
    grid-area: 1 / 1 / 3 / 2;
}

#carrerose2 {
    grid-area: 1 / 2 / 4 / 3
}

#carrerose4 {
    grid-area: 2 / 3 / 4 / 4
}

#carrerose5 {
    grid-area: 3 / 1 / 5 / 2
}

#carrerose6 {
    grid-area: 4 / 2 / 5 / 4
}

.marginclass {
    display: block;
    margin: 0 auto;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    padding: 60px 80px;
    border-radius: 150px;
    border: 1px solid #949494;
    gap: 24px;
    transition: width, height, padding 0.5s ease;
    text-align: center;
    box-sizing: border-box;
    height: 555px;
    align-self: center;
}



.experience-name {
    margin: 40px 0 6px 0;

}

.box:hover {
    padding: 130px 40px 130px 40px;
    min-width: 460px;
    height: 672px;
}

.stars {
    padding: 24px 0 0 0;
}

.lesexperiences {
    display: flex;
    justify-content: center;
    gap: 32px;
    height: 672px;
}

.noms {
    font-size: 14px;
}

.experiencess {
    display: flex;
    margin: 24px 0;
    display: flex;
    flex-direction: column;
}

.center {
    align-self: center;
}

.testimonialtitle {
    text-align: center;
    padding: 100px 0 158px 0;
}

.fleches {
    display: flex;
    justify-content: space-between;
}

.Contacts {
    padding: 60px 0 40px 0;
}

.menu-contact {
    display: flex;
    justify-content: space-between;
}

.rose {
    border: 1px solid #020E35;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #FFEEF6;
    width: 656px;
    height: 70px;
}

.rose2 {
    width: 656px;
    height: 200px;
}

.message-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0 0 0;
}

.rondrosep {
    padding: 117px 0 0 0;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.moyendecontact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.adress {
    gap: 16px;
}

.ta20 {
    font-size: 20px;
}

.ta14 {
    font-size: 14px;
}

.findelapage {
    display: flex;
    justify-content: space-between;
}

.reseau {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 51px;
    padding: 16px 0
}

.barredefin {
    display: flex;
    background-color: #020E35;
    padding: 32px 150px;
    justify-content: space-between;
}

.textefinal {
    display: flex;
    color: #FFFFFF;
}

.jsp {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.findelapage2 {
    position: absolute;
    top: 0px;
    left: -47px;
    z-index: -1;
    padding: 10205px 0px 0px 0px;
}

.padding2 {
    padding: 100px 150px 60px;
}

.adroite {
    left: 1440px;
    z-index: -1;
    position: absolute;
}